/*Navigation section */

#logo img {
    margin: 8px -32px;
    height: 59px;
    border-radius: 39px;
}

#navbar ul li {
    list-style: none;
    font-size: 1rem;
}
#navbar ul li a {
    padding: 8px 20px;
    font-size: 1.2rem;
}

/*Home section */
#home{
    padding: 0px;
}

#home h1 {
    font-size: 2.5rem;
}

#home p {
    font-size: 1.3rem;
}

/*Services section */
#services{
    flex-direction: column;
    margin-left: 2px;
    padding: 10px;
    margin-right: 0px;
}


#services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .box {
    margin: 0px 4px;
    border-radius: 24px;
    margin-bottom: 11px;
}
.hprimary {
    font-size: 2.4rem;
}

.hseondary {
    font-size: 1.8rem;
}


/*Clients section */
#clients{
    overflow: hidden;
}

.center {
    margin: 67px;
}

#clients img {
    height: 84.5px;
}


/*Contact us section */
#contact-box input {
    height: 20px;
}

.form-group {
    margin: 15px;
    font-size: 34px;
}

#contact-box input, 
#contact-box textarea {
    width: 100%;
    padding: 2px 19px;
    font-size: 16px;
}

#contact-box {
    padding: 0px;
}
/*Footer*/
.mid{
    margin: -3px;
}


@media screen and (max-width: 580px) {
    #navbar ul li a{
        margin:0px;
        padding: 5px;     
    }
    
    #navbar ul li{
        list-style: none;
        font-size: 0.5rem;
    }
    #navbar {
        flex-direction: column;
    }
}    


@media screen and (max-width: 290px) {
#navbar ul li a {
    padding: 8px 20px;
    font-size: -1.2px;
    font-size: 12px;
}

.hsecondary {
    font-size: 2.8rem;
    padding: 0px;
    align-items: center;
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}

#navbar ul li a {
    padding: 8px 2px;
    font-size: -1.2px;
    font-size: 12px;
}

#home h1 {
    font-size: 1.5rem;
}

#home p {
    font-size: 1rem;
}
}   